* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
html,
body {
  color: aliceblue;
  font-weight: 700;
  font-size: 24px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

h1 {
  color: black;
}

li,
a,
button {
  text-decoration: none;
  color: rgb(63, 62, 62);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082)),
    url(images/back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  transform: scale(1.1);
}
.nav {
  background-color: rgba(240, 248, 255, 0.233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: aqua;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 255, 255, 0.959);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: ALL 0.3s ease 0s;
  letter-spacing: 1px;
  font-size: 20px;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.8);
}

button:active {
  text-decoration: none;
  outline: none;
}

.welcome {
  text-align: center;
  transform: translate(0%, 150%);
}
.welcome__btns {
  text-align: center;
  padding-top: 30px;
  transform: translate(0%, 245%);
}
.btn1 {
  padding-right: 20px;
}
.btn2 {
  padding-left: 20px;
}
